= form_for [@quiz, @quiz.questions.build] do |f|
  = f.text_area :body, placeholder: "Question", class: "form-control", rows: 10
  = f.text_area :answer, placeholder: "Answer", class: "form-control", rows: 10
  %br
  = f.submit "Create Question", :class => 'btn btn-info'
