= form_for @quiz do |f|
	%p= f.text_field :body, :placeholder => "Quiz name"
	%p= f.text_area :description, :placeholder => "Description"
	%p= f.number_field :topic_id, :placeholder => "topic_id"
	%p=f.submit