%h2.hero Learn by doing, not by reading
%ul.bullet_point_list
  %li.bullet_point Drill problems to learn
  %li.bullet_point Make quizzes to help others

.button
  - if can? :create, Quiz
    %a.btn.btn-large.btn-primary{:href => "quizzes/new"} Make a new quiz
  - else
    %a.btn.btn-large.btn-primary{:href => "users/sign_up"} Sign up to make your own quiz

%table
  - @quizzes.each do |quiz|
    %tr
      %td
        %h3= link_to quiz.body, quiz
        %p= quiz.description
      - if can? :destroy, quiz
        %td= link_to "Destroy", quiz, method: :delete, :confirm => "Are you sure you want to delete this quiz?"
