<h2>The mission of this website is to help users learn and retain computer science concepts for the long-run</h2>
<h3>Drilling programming practice questions is a great way to learn</h3>
<p>Computer science concepts are difficult and repetition is the best way to learn.  Taking practice tests multiple times also helps with remembering syntax and method names, so you don't have to Google every time.</p>
<p>Sometimes I take a quiz and don't know any of the answers, but after 3 or 4 times, I can get 100%.  The quizzes are also great to take a couple of months later to gain long term retention.</p>
<h3>About the creator of this site</h3>
<p>My name is Matt Powers and I started programming at the age of 26 after completing the CFA program.  I started making programming practice problems in Summer 2012 and thought it would be nice of me to share these with the world.  As I converted this site from a static HTML page to a Rails app, I realized that it would be even better if users could create their own quizzes to share with the community.  I hope this site can help you learn programming!</p>
<div id="social">
  <div class="social_icon">
    <%= link_to(image_tag("LinkedIn_logo.jpg", :width => 62, :height => 62), "http://www.linkedin.com/pub/matthew-powers-cfa/5/652/624") %>
  </div>
  <div class="social_icon">
    <%= link_to(image_tag("github_icon.png", :width => 62, :height => 62), "https://github.com/MrPowers") %>
  </div>
</div>

