%h2 The mission of this website is to help users learn and retain computer science concepts for the long-run

%h3 Drilling programming practice questions is a great way to learn
%p Computer science concepts are very difficult to grasp and the syntax is hard to remember when it is not learned with repetition.  Taking practice tests multiple times aids understanding and retention and helps you remember the syntax and method names, so you don't have to Google every time.

%p I learn best by preparing programming practice quetsions as I read through books or reflect on lecture notes.  Just writing the questions is a good first step to learning the concepts.  After drilling the questions a few times, I understand almost all the material.  The quizzes are also great to take a couple of months later to gain long term retention.  I wish I started doing this in college!

%h3 About the creator of this site
%p My name is Matt Powers and I started programming at the age of 26 after completing the CFA examination.  I started making programming practice problems in Summer 2012 and thought it would be nice of me to share these with the world.  As I converted this site from a static HTML page to a Rails app, I realized that it would be even better if users could create their own quizzes to share with the community.  I hope this site can help you and others learn better.