<%= render 'navbar' %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About CodeQuizzes</h1>
                    <hr class="small">
                    <span class="subheading">How to learn programming</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

Learning to program is hard.  There's a lot of stuff to keep track of - backend, frontend, databases, operating systems, oh my!  It's easy to start a full stack web application with a complex library and get overwhelmed and frusterated.

CodeQuizzes was built to encourage active learning and repetition so learning to code is less painful.

<h2 class="section-heading">Repetition, Repetition, Repetition</h2>
The human brain does not absorp a technical concept at a first glance.  A topic usually needs to be revisited 4 of 5 times over several months for full understanding and retention.  Consistently practicing the basics is the best way to master the fundamentals and make learning intermediate and advanced programming concepts easier.

<h2 class="section-heading">You Don't Learn By Just Reading</h2>
Books are great passive learning tool for initial exposure to a topic, but the real learning doesn't take place till the material is actively applied and drilled.  Knowledge acquired in a book will quickly evaporate unless it's revisited multiple times.


<h2 class="section-heading">Open Source Project</h2>
CodeQuizzes is an open-source application that gladly accepts pull request and feature recommendations.  I'm always looking for ways to make it easier to learn!

<h2 class="section-heading">About Me</h2>
I started programming at 26 after working in finance for a few years.  I was an economics major and math minor and had no programming experience when I started other than an into computer science class I took my freshman year (it was at 8AM 3-days a week and I got the only C of my college career).  I taught myself enough to get a job at a health technology startup in NYC and now I get paid to pursue my passion.  Life is good!

        </div>
    </div>
</div>

<%= render "social_links" %>
