<%= render 'navbar' %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About CodeQuizzes</h1>
                    <hr class="small">
                    <span class="subheading">How to learn programming</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Learning to program is hard with a perfect approach, but it can be painfully slow or downright impossible with the wrong learning tactics.  As a beginner, it's highly likely to find yourself frusterated because a program won't install or bored to tears with a dry book.  Codequizzes simplifies nuggets of knowledge into easily digestible chunks to teach students while they take a quiz.</p>
            <p>I taught myself programming by reading textbooks and slogging through bugs without any human help.  I love programming, so it wasn't complete torture, but my progress was glacial.  I didn't really start making any progress until I got out of my apartment and stared working with other humans.</p>
            <p>When reading technical books, I need to take notes and review them or I will forget everything.  Reading notes is boring, so I tried making some quizzes for myself to learn more actively.  Some of my friends were interested in the quizzes, so I made CodeQuizzes as my first Rails app to share the quizzes.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>
