<%= render 'navbar' %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header contact-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <hr class="small">
          <span class="subheading">Have questions? I have answers (maybe).</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>I'd love to hear from you!  You can find my email address on <a href="https://github.com/MrPowers" >my GitHub page</a>.</p>
    </div>
  </div>
</div>

<hr>

<%= render 'social_links' %>
