<%= render 'navbar' %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header index-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>CodeQuizzes Blog</h1>
          <hr class="small">
          <span class="subheading">Learn by doing</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="post-preview">
        <%= link_to blog_learning_vim_path do %>
          <h2 class="post-title">
            Learning Vim
          </h2>
          <h3 class="post-subtitle">
            Simple & Rapid Text Editing
          </h3>
        <% end %>
        <p class="post-meta">Posted by Powers on December 7, 2014</p>
      </div>

      <div class="post-preview">
        <%= link_to blog_font_awesome_in_rails_path do %>
          <h2 class="post-title">
            Adding Font Awesome to a Rails application
          </h2>
          <h3 class="post-subtitle">
            Without the Rails asset pipeline driving you crazy
          </h3>
        <% end %>
        <p class="post-meta">Posted by Powers on December 6, 2014</p>
      </div>

      <hr>

    </div>
  </div>
</div>

<hr>

<%= render 'social_links' %>
