%h2.hero Learn by doing :)

.masonry_container
  .row
    .thumbnails
    - @topics.each do |topic|
      .thumbnail
        %h3= topic.name
        - topic.quizzes.each do |quiz|
          = link_to quiz.body, topic_quiz_path(:topic_id => topic, :id => quiz)
          %br/
          .description= quiz.description
        -if can? :create, Quiz  
          .create_quiz=link_to "Create a new #{topic.name} quiz", new_topic_quiz_path(:topic_id => topic)
- if can? :create, Topic
  =link_to "Create new topic", new_family_topic_path(@family)
%br
- if can? :create, Family
  =link_to "Create new family", new_family_path
