development:
  adapter: postgresql
  encoding: unicode
  database: compound_bling_application_development
  pool: 5
  username: 
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: compound_bling_application_test
  pool: 5
  username: 
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: compound_bling_application_production
  pool: 5
  username: 
  password:
