<div class="container challenge-wrapper col-md-8 col-md-offset-2">
  <ol>
  <% @chapters.each do |chapter| %>
    <li><%= chapter.humanized_name %></li>
    <ol>
      <% chapter.chapter_sections.each do |section| %>
        <li>
          <%= link_to section.humanized_name, js_books_path(section_name: section.to_param) %>
        </li>
      <% end %>
    </ol>
  <% end %>
  </ol>

  <%= image_tag "book/javascript_learning_path.png", class: "img-responsive" %>
</div>

