<%= render "quizzes" %>

<h2><%= link_to "Book", javascript_book_path %></h2>

<p>The <%= link_to "CodeQuizzes JavaScript Book", javascript_book_path %> introduces the JavaScript language in small chapters with short end-of-chapter quizzes.  The book follows the CodeQuizzes teaching philosophy of teaching one concept at a time, in a logical sequence, without any long-running exercises that have dependencies.</p>

