
<%= render "quizzes" %>

<h2>Books</h2>

<h3>The Well-Grounded Rubyist</h3>

<div class="row">
  <div class="col-md-10">
    <ul class="article-list">
      <li>Difficulty: Intermediate</li>
      <li>Rating: 10/10</li>
    </ul>
    <p>The Well Grounded Rubyist is the best book to learn about objects and message sending.  <a href="http://lists.squeakfoundation.org/pipermail/squeak-dev/1998-October/017019.html">Messages are more important that objects</a> and David Black gives messages the attention they deserve.</p>

    <p>David doesn't even introduce the if keyword until page 150!  This is not your typical programming book.</p>

    <p>The Well Grounded Rubyist is the best way to level up from a beginner to an intermediate Ruby programmer.</p>

    <p>Make sure to read The Well Grounded Rubyist before Practical Object Oriented Design in Ruby and Metaprogramming Ruby.</p>
  </div>
</div>

<h3>Practical Object-Oriented Design: An Agile Primer Using Ruby (2nd Edition)</h3>

<div class="row">
  <div class="col-md-10">
    <ul class="article-list">
      <li>Difficulty: Advanced</li>
      <li>Rating: 10/10</li>
    </ul>

    <p>Practical Object Oriented Design in Ruby (POODR) is a masterfully written book on object oriented design.</p>

    <p>Programmers cannot predict the future, but we can design code so it can easily be adapted to incorporate future feature requests.  POODR explains how to write well designed code that is easy to change.</p>

    <p>POODR talks about message sending a lot so make sure to read The Well Grounded Rubyist first.</p>
  </div>
</div>

<h3>Metaprogramming Ruby 2: Program Like the Ruby Pros (Facets of Ruby)</h3>

<div class="row">
  <div class="col-md-10">
    <ul class="article-list">
      <li>Difficulty: Advanced</li>
      <li>Rating: 10/10</li>
    </ul>

    <p>Metaprogramming Ruby continues where The Well Grounded Rubyist leaves off.</p>

    <p>Metaprogramming is code that writes code.  It's awesome and fun!</p>

    <p>The book covers a lot of core Ruby concepts that are critical to understand metaprogramming: Ruby's object model, method lookup, and module.</p>

    <p>Once the foundation is laid, basic metaprogramming concepts like <code>define_method</code> and <code>method_missing</code> are covered.</p>

    <p>Before you know it, you will be writing a domain specific language with Ruby!</p>

    <p>You will be a Ruby expert after reading this book.</p>
  </div>
</div>

<h3>Beginning Ruby: From Novice to Professional</h3>


<div class="row">

    <p>Beginning Ruby was written in 2011 by <a href="http://peterc.org/">Peter Cooper</a>, an influental member of the Ruby community.</p>

    <p>Beginning Ruby is a bit scattered and jumps into technical concepts very quickly, so it's not suitable for beginners.</p>

    <p>An experienced programmer would learn a lot from Beginning Ruby, but there are other books that are much easier to follow.</p>

  </div>
</div>

<h2>Online Learning Resources</h2>

<h3><a class="black" href="http://tryruby.org/">Try Ruby</a></h3>

<ul class="article-list">
  <li>Difficulty: Beginner</li>
  <li>Rating: 9/10</li>
</ul>

<p>Try Ruby is a 15 minute tutorial on the very basics of Ruby.  All code is run in the browser.</p>

<p>Unlike the other tutorials, Try Ruby isn't scary!  They ease you into the material.</p>

<p>In level 5 the tutorial covers the <code>Dir</code> module, which is confusing because the code is running the browser and the file system isn't visible.</p>

<h3><a class="black" href="http://learnrubythehardway.org/book/">Learn Ruby the Hard Way</a></h3>

<ul class="article-list">
  <li>Difficulty: Beginner</li>
  <li>Rating: 8/10</li>
</ul>

<p>Learn Ruby the Hard Way is written by the controversial author Zed Shaw.  He wrote <a href="http://harmful.cat-v.org/software/ruby/rails/is-a-ghetto">Rails is a Ghetto</a> in 2007 and <a href="https://news.ycombinator.com/item?id=93984">people didn't really like it</a>.  Nonetheless, people seem to love his books.</p>

<p>Zed is right that learning to program requires a lot of <a href="http://learnrubythehardway.org/book/intro.html#a-note-on-practice-and-persistence">practice and persistence</a>.  Repetition is how you learn.</p>

<p>The first 39 lessons are approachable and the course gets much harder when modules, classes, and objects are introduced in <a href="http://learnrubythehardway.org/book/ex40.html">lesson 40</a>.  If example 40 scares you, just stop reading and move on to the next learning resource.</p>

<p>Zed wraps up the book with some bizzare <a href="http://learnrubythehardway.org/book/ex40.html">Advice from an Old Programmer</a>.  I love working as a full-time programmer and absolutely do not agree with "Programming as a profession is only moderately interesting".  I think programmers at technology companies are respected and do not agree that "People who can code in the world of technology companies are a dime a dozen and get no respect".</p>

<p>Use Zed's learning resources and ignore his angry rants.</p>

<h3>Codecademy</h3>

<ul class="article-list">
  <li>Difficulty: Intermediate</li>
  <li>Rating: 7/10</li>
</ul>

<p>Codecademy gives little descriptions of key programming concepts and provides a Ruby shell to evaluate your knowledge during each step.  The lessons are build towards people that are not familiar with Ruby and have never programmed before.</p>

<p>The course is for beginners, but the code gets scary and complex quickly.</p>

<p><img src="/articles/how_to_learn_ruby/codecademy_scary_methods.png" alt="Scary Ruby code" title="" /></p>

<p>The first line in the method (<code>puts "That's not an integer." unless n.is_a? Integer</code>) uses a lot syntactic sugar and would even be difficult for experienced programmers that are not familiar with Ruby to read.</p>

<p>Codecademy is demonstrating how this code can be broken up with methods, but this is still very scary for newbies.</p>

<p>Codecademy also jumps into procs and lambdas quickly.  New Ruby programmers don't need to know how to yield with parameters.</p>

<p><img src="/articles/how_to_learn_ruby/codecademy_yielding_with_parameters.png" alt="Yielding with parameters" title="" /></p>

<p>Parts of Codecademy are great and other parts are terrifying and should be skipped.  You might not know what parts should be skipped so the course might make you feel bad.</p>

<h3><a class="black" href="https://www.ruby-lang.org/en/documentation/quickstart/">Ruby Lang Quickstart</a></h3>

<ul class="article-list">
  <li>Difficulty: Intermediate</li>
  <li>Rating: 6/10</li>
</ul>

<p>The Ruby Lang quickstart tutorial starts off as a promising interactive Ruby console (<code>irb</code>) based introduction to the language and quickly becomes too complicated.</p>

<p>The tutorial quickly asks you to write an 11 line class in your <code>irb</code> console:</p>

<pre>
irb(main):024:0&gt; class Greeter
irb(main):025:1&gt;   def initialize(name = "World")
irb(main):026:2&gt;     @name = name
irb(main):027:2&gt;   end
irb(main):028:1&gt;   def say_hi
irb(main):029:2&gt;     puts "Hi #{@name}!"
irb(main):030:2&gt;   end
irb(main):031:1&gt;   def say_bye
irb(main):032:2&gt;     puts "Bye #{@name}, come back soon."
irb(main):033:2&gt;   end
irb(main):034:1&gt; end
</pre>

<p>This code is certain to baffle a newbie programmer.  An experienced programmer would prefer to write all this code in a text editor.</p>

<p>This tutorial can be used by an inexperienced programmer, but newbies should stay away.</p>

<h3><a class="black" href="https://rubymonk.com/">RubyMonk</a></h3>

<ul class="article-list">
  <li>Difficulty: Intermediate</li>
  <li>Rating: 8/10</li>
</ul>

<p>RubyMonk jumps right into objects in the first lesson.  This course is suitable for experienced programmers and beginners should stay away.</p>

<p><img src="/articles/how_to_learn_ruby/rubymonk_object_intro.png" alt="Introduction to Objects" title="" /></p>

<p>Once you are comfortable with the fundamentals of Ruby, this is a great course to level up.</p>

