<div class='hero-masonry span12'>

  <% @subjects.each do |subject| %>
    <%= link_to(subject_path(subject.slug)) do %>
      <div class="hero-item subject">
        <%= image_tag "subjects/#{subject.slug.underscore}.png" %>
        <h3><%= subject.name %></h3>
      </div>
    <% end %>
  <% end %>

</div>

<section id="why-i-made-codequizzes" class="span12 landing-section">
  <h2>Why CodeQuizzes?</h2>
  <p>Learning programming is hard... retaining what you learn is even harder!  When you learn a new concept, you need to practice it at least 5 times or you'll immediately forget it.</p>
  <p>What is the point of reading a book or taking a class if you're going to forget everything anyways?</p>
</section>

<section id="teaching-philosophy" class="span12 landing-section">
  <h2>Teaching Philosophy</h2>
  <ul>
    <li><strong>The quizzes teach the most important concepts first.</strong>  We're not going to burden you with a huge quiz that addresses all the edge cases if you're not ready yet!</li>
    <li><strong>Each question is stand-alone and not dependent on other questions.</strong>  We hate when questions are "chained" and one question cannot be anwered unless a prior question is answered correctly.</li>
    <li><strong>Each question teaches a single concept.</strong>  We hate when books teach two concepts at the same time - we only teach one concept per question.</li>
    <li><strong>Quizzes are short!</strong>  There is nothing worse than reading a chapter in a book, trying the chapter exercises, and realizing they will take you 8 hours to complete.  Every quiz on this site should only take 5 minutes to complete.</li>
  </ul>
</section>


