%table
  %thead
    %td Date
    %td Sign Up Count
    %td Graded Exams
    %td Cancelled Exams
  - @grouped_users.keys.each do |date|
    %tr
      %td= date
      %td= @grouped_users[date]
      %td= @grouped_graded_exams[date]
      %td= @grouped_cancelled_exams[date]
