<div class="container col-md-6 col-md-offset-3">
  <h2>Challenges</h2>

  <ol>
    <% @challenges.each do |challenge| %>
      <li><%= link_to markdownify(challenge.question_summary), challenge %></li>
    <% end %>
  </ol>
</div>
