<div class="challenge-wrapper container col-md-6 col-md-offset-3">
  <h2>Challenges</h2>

  <table class="table table-bordered table-responsive">
    <thead>
      <td>Number</td>
      <td>Challenge</td>
      <td>Solved by</td>
    </thead>

    <% @challenges.each_with_index do |challenge, index| %>
      <tr>
        <td class="text-center"><p><%= index + 1 %></p></td>
        <td><%= link_to markdownify(challenge.question_summary), challenge %></td>
        <td class="text-center"><p><%= challenge.users.count %></p></td>
      </tr>
    <% end %>
  </table>

</div>
