/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*******************
html elements
*******************/

body {
  padding-top: 60px;
  background-image:url('paper.jpg');
}

table {
  margin: 0 auto;
}


/*******************
navbar
*******************/

header {
  background-color: #FAF7F7;
}

.navigation_items {
  padding: 10px 15px 10px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

.dropdown-navbar {
  padding: 10px 15px 10px;
  color: #555;
  text-decoration: none;
}

.dropdown-navbar a {
  color: #777777;
}


/*******************
footer
*******************/

footer {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

footer a {
  color: #333;
}


/*******************
ABOUT
*******************/
#social {
  width: 170px;
  margin: 0 auto;
}

.social_icon {
  float: right;
  margin-right: 20px;
}


/*******************
layouts/application.html.haml
*******************/
.announcement {
  width: 100%;
  background-color: #F1F094;
  padding: 10px 0;
  text-align: center;
}


/*******************
bootstrap overrides
*******************/

body .navbar .brand {
  padding: 0;
}


/*******************
generic styles
*******************/

.center {
  text-align: center;
}


/*******************
families page
*******************/

.hero-item {
  background-color: white;
  width: 225px;
  margin: 0 2px 15px;
  padding: 15px;
  box-shadow: 3px 3px 8px #999;
}

.quiz-wrapper {
  padding-bottom: 8px;
}

.hero-masonry {
  margin: 0 auto;
}

.hero {
  padding-bottom: 15px;
  text-align: center;
  font-size: 36px;
}

