// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************
INDEX PROGRAMMING CHALLENGES
************************/


.button {
	margin: 0 auto;
	width: 250px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.btn {
	width: 250px;
}

/************************
TABLE PROGRAMMING CHALLENGES
************************/
.quiz_name {
	text-align: center;
	/*border: red 2px solid;*/
}

table {
	border-collapse: collapse;
	/*width: 800px;*/
}

td {
	/*border: 2px solid #545a71;*/
	margin: 0;
	padding: 3px 3px;
}

thead {
	font-weight: bold;
	text-align: center;
}

.column1 {
	width: 350px;
}

.column2 {
	width: 500px;
}

.column3, .column4 {
	width: 50px;
}

.answer_hide {
	opacity: 0.0;
	cursor: pointer;
}

.answer_show {
	opacity: 1.0;
	cursor: pointer;
}

pre {
	word-break: normal;
	word-wrap: normal;
	margin: 0;
	padding: 4px;
	background-color: transparent;
	border: none;
}

.question, .answer_show, .answer_hide {
	border: lightgrey solid 1px;
}

.time_ago {
  font-size: 0.65em;
}

.comment_body {
  background-color: white;
  width: 60%;
}

.comment_form_box textarea {
  width: 40%;
}

/************************
Questions Partial
************************/
.all_fields {
	/*border: red 2px solid;*/
	width: 500px;
	margin: 0 auto;
}

.question_field {
	width: 240px;
	display: inline-block;
	margin-top: 15px;
	/*border: red 2px solid;*/
}

.answer_field {
	width: 240px;
	display: inline-block;
	margin-top: 15px;
	/*border: red 2px solid;*/
}

.submit_button {
	width: 160px;
	margin: 0 auto;
	margin-top: 10px;
}
