// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.correct {
  font-size: 2.5em;
  color: #5bb65b;
}

.incorrect {
  @extend .correct;
  color: #da4e49;
}

/************************
TABLE PROGRAMMING CHALLENGES
************************/
.quiz_name {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  margin: 0;
  padding: 3px 3px;
}

thead {
  font-weight: bold;
  text-align: center;
}

code {
  margin: 0;
  background-color: transparent;
  border: none;
  color: #333333;
}

pre {
  word-break: normal;
  word-wrap: normal;
  margin: 0;
  padding: 4px;
  background-color: transparent;
  border: none;
}

pre {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

