/*******************
html elements
*******************/

body {
  background-image: asset-data-url('paper.jpg');
  padding: 0 15px;
}

table {
  margin: 0 auto;
}

ul {
  padding-left: 0;
}


/*******************
navbar
*******************/

header {
  background-color: #FAF7F7;
}

.navbar a {
  display: inline-block;
}

.navigation_items {
  padding: 10px 15px 10px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

.dropdown-navbar {
  padding: 10px 15px 10px;
  color: #555;
  text-decoration: none;
}

.dropdown-navbar a {
  color: #777777;
}


/*******************
footer
*******************/

footer {
  text-align: center;
  padding-bottom: 10px;
}

footer a {
  color: #333;
}


/*******************
ABOUT
*******************/
#social {
  width: 170px;
  margin: 0 auto;
}

.social_icon {
  float: right;
  margin-right: 20px;
}


/*******************
layouts/application.html.haml
*******************/
.announcement {
  width: 100%;
  background-color: #F1F094;
  padding: 10px 0;
  text-align: center;
}


/*******************
bootstrap overrides
*******************/

body .navbar .brand {
  padding: 0;
}


/*******************
generic styles
*******************/

.center {
  text-align: center;
}


/*******************
families page
*******************/

.nav-options {
  font-size: 18px;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}

.nav-options a {
  color: #333;
}

.has-title {
  padding: 40px;
}

.has-title h1 {
  font-size: 60px;
  width: 510px;
}

.tagline {
  font-size: 32px;
}

.topic {
  width: 260px;
  background-color: white;
}

.hero-item {
  margin: 0 2px 15px;
  padding: 15px;
  box-shadow: 3px 3px 8px #999;
}

.quiz-wrapper {
  padding-bottom: 8px;
}

.hero-masonry {
  margin: 0 auto;
}

.github-fork img {
  z-index: 1;
}

#facebook {
  display: inline-block;
}

#twitter {
  display: inline-block;
  height: 20px !important;
  width: 80px !important;
  margin-left: 10px;
}

iframe { vertical-align: top; }

.brand-name {
  display: inline-block;
  font-size: 36px;
  padding: 15px;
  height: 75px;
}

.nav-options.brand-name a {
  color: white;
}

