// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
	background-color: white; 
	width: 225px; 
	margin: 0 2px 15px; 
	padding: 15px; 
	box-shadow: 3px 3px 8px #999;	
}

.description {
	padding-bottom: 8px;
}

.create_quiz {
	padding-top: 6px;
}

.masonry_container {
	margin: 0 auto;
}