%h2 Learn programming by making practice tests and taking them until you can get 100%.  Master topics by acing practice tests created by your peers.
%h3 #{link_to "Click here to make a new test", new_test_path}

%h3 Tests
%table
  - @tests.each do |test|
    %tr
      %td
        = link_to test.body, test