%h2.hero Learn programming by making practice tests and taking them until you can get 100%.  Master topics by acing practice tests created by your peers.
- if user_signed_in?
  %h3 #{link_to "Click here to make a new test", new_test_path}
- else
  %h3 #{link_to "Log in to make your own tests", new_user_session_path}

%table
  - @tests.each do |test|
    %tr
      %td
        %h3= link_to test.body, test