<!DOCTYPE html>
<html>
<head>

<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style type="text/css">

h1{
	color:blue;
	font-size: 50px;
	font-family: lobster;
	margin: 50px;
}

.large-text{
	color:red;
	font-size: 100px;
}

.gray-text{
	color: gray;
}

.red-text{
	color:red;
}

p{
	font-family: sans-serif;
}

.medium-image{
	width:450px;
}

.smaller-image{
	width:300px;
}

.thin-gray-border{
	border-radius: 10px;
	border-color:gray;
	border-width: 50%;
	border-style: solid;
}

.green-background{
	background-color: green;
}

.white-border{
	border-color:white;
	border-radius: 30px;
	border-style: solid;
}

.smaller-margin{
	margin:100px;
}

body {
	width: 70%;
	margin: 0 auto;
}
</style>



<title>Cinderella</title>



</head>
<body>

<h1 align = center>Cinderella  :)</h1>

<h2 align = center>Cinderella in my own words</h2>


<p class ="gray-text">It was a dark and rainy night when the lady, Mrs. Roberta, gave birth to a beautiful blond baby girl called Dulce. She chose that name because Dulce means "sweet" in Spanish, and Mrs. Roberta went to Medellin - Colombia when she was 15 and she loved  "dulce de leche" a Colombian dessert. But that's another part of the story. </p>

<p class = "gray-text">The baby girl was healthy and strong but Mrs. Roberta died that night unfortunately :( leaving the beautiful blond girl alone, but she was a happy and normal girl that talked with rats with pink dresses.</p>

<div  align = "center">
<img class = "medium-image" src="http://i.imgur.com/bpBJ2Nx.png" >
</div>

<p>The things Dulce loved the most:
<ul class ="gray-text">
<li>Chocolates</li>
<li>candies</li>
<li>his dad</li>
<li>talking to rats and birds</li>
</ul>
</p>

<p>The things Dulce hated the most:
<ol class ="gray-text">
<li>Her stepmother</li>
<li>Her step sisters</li>
<li>to live in the ashes</li>
<li>Not being able to play like a normal girl</li>
</ol>
</p>

<p>She loved reading, this was her <a href="http://www.literato.es/p/MjI3Njk/">favorite poem</a> from Pablo Neruda </p>

<p>And she also loved Harry Potter</p>
<div align ="center">

	<a href="https://media.giphy.com/media/8gYfN7McHdK8g/giphy.gif"><img class ="smaller-image thin-gray-border" src="http://cdn.playbuzz.com/cdn/3039b5b3-87fa-4fe0-9823-2e061e5d2d77/79addb60-65ba-4ff9-9a3f-b93f82ccad30.jpg"></a> 

	<p class ="gray-text">Click the picture to see where she dreamed living with Harry Potter</p> 

<div class = "green-background" "smaller-margin">
<h4>Enter the password to continue with the second chapter</h4>
	<input type = "text" required
			Placeholder = "enter the PASSWORD">
	<button type = "submit">submit</button>

<h4>Are you sure you want to continue?
	<label> <input type = "radio" checked>Yes </label>	
	<label>	<input type = "radio">no </label>
</h4>
</div>

<h1 align = center>Chapter 2</h1>

<p>Soon, the sweet Dulce, was renamed to Cinderella (because she was living in the ashes) and her life was miserable because of her stepmother and stepsisters but the good thing is that she wasn't alone, she had a lot of magical friends!!!!</p>


<p  class = "gray-text">Guess what her friends were

<label>
 <input type = "checkbox" checked> Rats</label>
<label> <input type = "checkbox"> Rabbits</label>
<label> <input type = "checkbox"> Snow white</label>
<label> <input type = "checkbox"> Evil Witch</label>
<label> <input type = "checkbox"> Cats</label>
<label> <input type = "checkbox"> trees</label>
<label> <input type = "checkbox"> squirrels</label>

</p>
</div>	

<p>Then she grew up, and became a beautiful 17 years old</p>

<div align = "center">
<img src="http://www.thefeministwire.com/wp-content/uploads/2014/03/Cinderella.jpg">
</div>

<p>And there was this important dance in the prince castle, she wanted to go so bad but her evil stepmother and stepsisters didn't let her :(</p>

<p> So with the help of the Fairy Godmother she could go to the dance and see the prince!</p>

<p> They danced the whole night</p>

<div align = "center">
<img class = "medium-image white-border" src="http://cache23.fansshare.com/photos/cinderella/cinderella-prince-992184461.jpg">
</div>

<p>Yeahhh you know the rest of the story... she lost her shoe, he found it, they found each other again and they got married and live HAPPILY EVER AFTER</p>

<div align = "center">
<img src="http://img2.wikia.nocookie.net/__cb20120723015840/loveinterest/images/f/f5/Cinderella-and-Prince-Charming-cinderella-6672883-278-431.jpg">
</div>

<h1 class = "large-text" align = center>THE END!</h1>

</body>
</html>

