<!DOCTYPE html>
<html>
<head>
	<title>Colombia</title>

	<style type="text/css">
		h1{
			color:yellow;
			font-style: solid;
			font-size: 70px;
			margin: 0 auto;
		}

		h2{
			font-size: 42px;
			margin: 10 auto;
		}

		h3{
			font-size: 30px;
			margin: 20 auto;
		}

		ul{
			font-family: sans-serif;
		}

		p{
			font-family: sans-serif;
			margin: 30 auto;
		}

		li{
			margin:15 auto;
		}

		.blue-text{
			color:blue;
		}

		.red-text{
			color:red;
		}

		.smaller-image{
			width: 100px;
		}

		.medium-image{
			width: 740px;
		}

		.thin-white-border{
			border-radius: 20px;
			border-color:white;
			border-width: 10px;
		}
		body{
			margin: 5 auto;
			width: 60%;
		}

	</style>
</head>
<body>
	<h1 align = "center">Marvelous Colombia</h1>

	<h2 align = "center" class = "blue-text">Why Colombia is so awesome</h2>

	<h3 align = "center" class = "red-text">I love my country for many reasons</h3>
	

<p> Some interesting facts about Colombia:
<ul>
<li>Is the second most biodiverse country int the world and is the most biodiverse per square kilometer</li>
<li>Has the greatest number of ecosystems in the world; wet and dry forests, savannas, temperate forests, Andean forests, cloud forests, moors, rivers, coasts, coral reefs, mangrove and swamps.</li>
<li>Is the number 25th in size but the number 1 in variety of birds, flowers, frogs, orchids, and it contain most of the half of  </li>
<li>Has two oceans: Atlantic and Pacific</li>
<li>We have a big chain of mountains: the Western, Central and Eastern, with glaciers, volcanoes, highlands, savannahs and valleys.</li>
</ul>
</p>

<img src="http://k03.kn3.net/A57F1B836.jpg" class = "medium-image thin-white-border">

<p>In the next link you can find the  
	<a href="http://siemprecolombia.info/wp-content/uploads/2014/08/ca%C3%B1o-cristales.jpg">MOST BEAUTIFUL RIVER</a> in the world </p>

<p>Do you want to visit colombia?</p>

<label><input type = "radio"> yes</label>
<label><input type = "radio"> maybe</label>
<label><input type = "radio"> no</label>

<p>Please enter your name and submit

<label> <input form = "text" placeholder= "Your name"> 
			<button type = "submit">submit</button> you will receive a surprise in the next couple of days!
</label>
</p>

<div align = "center">
<img class = "thin-white-border" src="http://i291.photobucket.com/albums/ll296/octaviasapirate/catz%20lol/funny-pictures-surprise-chicken-is-.jpg">
</div>

<p> If you go to Colombia, there is a couple of things you need to know in advance, there are some things that Colombians really really hate, guess what they are!</p>

<img src="http://assets3.sportsnet.ca/wp-content/uploads/2014/06/colombia1-640x360.jpg">


<div aling = "left">
<br><label><input type = "checkbox">Compare Colombians with Mexicans :@</label></br>
<br><label><input type = "checkbox">Talk about Pablo Escobar</label></br>
<br><label><input type = "checkbox">Visit beautiful places</label></br>
<br><label><input type = "checkbox">Being super friendly with locals</label></br>
<br><label><input type = "checkbox">Say or write "Columbia" instead of "Colombia"</label></br>
<br><label><input type = "checkbox">Asking for drugs</label></br>
<br><label><input type = "checkbox">Talk about Colombia as if we were a third world country -> we are a developing country ;)</label></br>
</div>

<p class = "blue-text	">In conclusion, Colombia is the best country in the world!!!</p>

<p><b>**Click the next image to read my first webpage!!! cinderella** :)</b></p>

<div align = "center"> 
<a href="file:///home/lizie/Escritorio/Programacion/Playground/Cinderella.html"> <img class = "smaller-image" src="http://vignette4.wikia.nocookie.net/p__/images/9/9e/Cinderella-Clipart-disney-princess.jpg/revision/latest?cb=20120617190039&path-prefix=protagonist"> </a>
</div>
</body>
</html>

