<html>

<style type="text/css">

body{
	margin: 0 auto;
	width: 55%;
	font-family: sans-serif;
}
h1{
	color:orange;
	font-size: 4em;
	margin: 0 auto;
}

h2{
	color: green;
	font-size: 2em;
	margin: 10 auto;
}

p{
	font-size: 1em;
}
div{
	margin: 60 auto;
}

ol{
	margin: 30 auto;
}

li{
	margin-top:50;
}

.centerize {
	margin: 0 auto;
}

.red-text{
	color:red;
	font-weight: bold;
}

.green-text{
	color:green;
	font-weight: bold;
}

.gray-text{
	color: gray;
	font-weight: bold;
}

.black-background{
	background-color: black;
	margin:0 auto;
}
</style>
<head>
	<title>Learning Git</title>
</head>
<body>
<h1 align = "center">Learning Git</h1>

<h2 align = "center">This is very fun! :)</h2>

<div>
<p>Git is a widely used version control system for software development. And it is extremely useful for developers to keep track of the commits and the changes made in a file. </p>

<p>Let's say, today is october 10th 2015 and I made a change in a project call "little-cats" and there are 3 people working on it. With git, all the people of the team can see the change I made, in a specific time and the reason of why did I made the change. If it's september 23rd of 2020 I can still see the changes and the commit. </p>
<ol>

<div class = "centerize">
<li><p>o the fist thing you do is to initialize a Git repository by using</p>
	<p class = "gray-text centerize">git init</p>
<p>--A repository is a place where the history of your work is stored -- </p>
</li>
</div>

<li><p>After you have a repository you have to check the status of the Git by using</p>

<p class = "gray-text">git status</p></li>

<li><p>Then you create a file using touch, (I will create the file call hey.html)</p>

<p class = "gray-text">touch hey.html</p></li>
<li>
<p>Then you add something to your file, let's say that you just add the title. To see the change you made on your text editor, you just check your git status again</p>

<p class = "gray-text">git status</p>

<p>The text will appear red, this means that the file is "untracked"  and this is usually because is a newly created file, looking something like this:</p>

<p class = "red-text">modified: hey.html</p>
</li>
<li><p>So Git is telling you that you just modify the file hey.html, but you don't know what it was changed. To see the changes (or the  difference) you made on file, you use</p>

<p class = "gray-text">git diff</p></li>
<li><p>Now you can see in red all the changes made, since I change the title, it will look like this</p>

<p class ="red-text">Learning Git</p></li>
<li><p>Now, to tell Git to start tracking changes made on the file, we first need to add it to the staging area using</p>

<p>git add (and the name of the file)</p>
<p class = "green-text">git add hey.html</p>

<p>--Staging area is a place where we can group files together before we "commit" them to Git--</p></li>

<li><p>Then we check the status of git</p>
<p class = "gray-text">git status</p>

<p>and now the text is not longer red, is green and this means that is already commited</p>

<p class = "green-text">modified: hey.html</p></li>

<li><p>Now we add a message or comment for you or other people to see what was changed (maybe you want to see that change in 5 years and the comment will help you to understand what you did there)</p>

<p><p>git commit -m "I change the title"</p>
-m means message</p></li>
<li><p>And then if you want to know all the changes that has been made in the file so far you enter</p>

<p class = "gray-text">git log</p></li>

</ol>


<img class="centerize" src="https://git-scm.com/images/logos/2color-lightbg@2x.png">
</div>
</body>
</html>

