<div class="container-fluid announcement">
  I just finished <a href="https://github.com/MrPowers/frontend-generators">an awesome gem </a>an awesome gem to add Bootstrap, Font Awesome, and <a href="http://startbootstrap.com/template-categories/all/">Start Bootstrap themes</a> to Rails applications.  <a href="https://www.youtube.com/watch?v=5vuF0n4Qlxk">Here's a video</a> that shows the gem in action.  Try it out, star it, and submit a pull request with some new themes!
</div>
