<div class="announcement">
  <div style="width: 960px; margin: 0 auto;">
    I'm updating all the questions to support markdown today.  I'll try to power through and get all the formatting fixed ASAP.  Thanks!
  </div>
</div>
