<div class="announcement">
  <div style="width: 960px; margin: 0 auto;">
    CodeQuizzes is an <%= link_to "open-source project", "https://github.com/MrPowers/code_quizzer" %> and will always be a free resource for the programming community.
    I've been working on a <%= link_to "programming blog", "http://codequizzes.wordpress.com/" %> and would like to get everyone's feedback on if they prefer the blog or CodeQuiz format.
    My <%= link_to "email is on GitHub", "https://github.com/MrPowers" %> - drop me a line and let me know how I can make better content or just to say hi :)
  </div>
</div>
