<div class="fb-like" data-action="like" data-href="http://www.codequizzes.com/" data-layout="button_count" data-share="true" data-show-faces="true" data-width="150"></div>
<div id="fb-root">
  <script>
    
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0&appId=371048539721968";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


  </script>
</div>

